name: Build C Project on Windows

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install MinGW
      run: |
        choco install mingw

    - name: Add MinGW to PATH
      run: |
        echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin" >> $GITHUB_PATH

    - name: Build project
      run: mingw32-make CC=gcc

    - name: Run unitary tests (optional)
      run: mingw32-make check CC=gcc
      continue-on-error: true

    - name: Compile and run example (optional)
      run: |
        mingw32-make example CC=gcc
        ./example/iniexample

    - name: List directory contents
      run: Get-ChildItem -Recurse



